<p>register works!</p>
<form>
    <div>
        Eid:<input type="number" [(ngModel)]="emp.id" [ngModelOptions]="{standalone: true}"/>
    </div>
    <div>
        Ename:<input type="text"  [(ngModel)]="emp.name" [ngModelOptions]="{standalone: true}"/>
    </div>
    <div>
        Age:<input type="number"  [(ngModel)]="emp.age" [ngModelOptions]="{standalone: true}"/>
    </div>
    <div>
        Salary:<input type="number"  [(ngModel)]="emp.salary" [ngModelOptions]="{standalone: true}"/>
    </div>
    <div>
        <input type="button" value="submit" (click)="register()"/>
    </div>
</form>
